body{
  width: 100vw;
  height: 100vh;
}


a{
  margin: 20px;
  padding: 0px;
  padding-left: 0px;
}
div{
  margin: 50px;
  /*padding: ;*/
}
footer{
  background-color: lightblue; 
  font-style: Arial; color: darkblue; 
  padding: 10px; 
  border: dashed darkblue;
  text-align: center;
}


h1{
  color: hsla(red, green, blue, 50%);
  font-style: sans-serif;
  font-size: 4em;
  margin:6;
  padding: 100px;
  text-shadow: 8px 8px #CCCCCC;
}

@font-face{
  font-family:
}
