body{
  background-image: url("images/homebtn.gif");
  background-size: 5em;
  /*background-position: ; */
  background-repeat: repeat-x; /*repeats horizontally*/
  background-attachment: fixed;
  height: 100vh;
  width: auto;
}

nav{
  padding: 0px 0px 0px 0px;
  margin: 59px 0px 0px 0px;
}