body{
  background-image: url("images/homebtn.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /*repeats horizontally*/
  background-attachment: fixed;
  height: 100vh;
  width: auto;
}
h1{
  margin:;
  padding: 100px;
}
a{
  margin: 20px;
  padding: px;
  padding-left: 0px;
}
div{
  margin: 50px;
  padding: ;
}
footer{
  background-color: lightblue; 
  font-style: Arial; color: darkblue; 
  padding: 10px; 
  border: dashed darkblue;
}
#notice{
  width: 80%;
}
h1{
  color: hsla(red, green, blue, 50%);
  font-style: sans-serif;
  font-size: 4em;
}
#feature{
  font:4em;color: red; font-style:Arial;
  background-color: white; width: 80%;
  text-shadow: 2px 2px #CCCCCC;
}