body{
  background-image: url("images/homebtn.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /*repeats horizontally*/
  background-attachment: fixed;
  height: 100vh;
  width: auto;
}
h1{
  margin:;
  padding: 100px;
}
a{
  margin: 20px;
  padding: px;
  padding-left: 0px;
}
