body{
  border:2px solid black;
  font-family: monospace, serif, sans-serif,Impact;
  font-style:italic ;
  margin: 0;
  margin-left: 10em;
  margin-right: 20em;
}


.h2{
  font-variant: normal;
  line-height: 30px;
  font-weight: lighter;
}