


th.left, td.left { text-align: left; 

}​

thead, tfoot { background-color: rgb(224, 238, 144); 

}​

tfoot { 
  font-weight: bold; 


}​

table {
  border: 1px solid black;
  
}

th, td {
   border: 1px solid black;
   text-align: right;

}

thead, tfoot {
  background-color: yellow;

}

tbody tr:nth-child(even) {
  background-color: yellow;
}

th{
  text-align: left;
}


#marker{
  background-color: white;
  font-weight:bold;
  padding: 5px 15px 30px 6px;  
  text-align: left
}

#id{
  border-collapse: collapse;
}

#border{
  border-collapse: collapse;
}

tbody tr:nth-child(2n) {
  background-color: rgb(251, 255, 0);
}

#department{
  font-weight: bold;
}

#foot{
  text-align: right;
}