body{
  font-famiily: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-image: linear-gradient(to bottom left, rgb(168, 77, 138),rgb(66, 155, 118));
  color: red; 
}
h1 {font-size: 250%;}
#wrapper{
  width: 80%;
  margin-top:0;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
}