body{
border: solid;
flex-grow: 1;
background-color: rgb(233, 161, 94);
}

.flex-container{
  overflow:visible;
  background-color: #969393;
}

.flex-container ul,li,a{
  list-style-type:none;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  flex-direction:row;
  flex-wrap:wrap;
  border-color: rgb(0, 0, 0);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom: 0px;
  color: #000000;
}

.flex-container2 div,img.link{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(105, 56, 56);
display: flex;
  color: #ccc;
  height:px;
  width:100%;
  padding-left:80px;
  padding-top: 0px;
margin: 0px 0px 0px 0px;
border-radius:0px
}

.flex-container2 h1,a.link{
  flex-direction:row-reverse;
  justify-content: center;
  }

#flex-container-2{
  border: solid black;
}

.flex-container-2{
  border: solid black;
}

aside{
  border:solid black;
  display:flex;
}

footer{
  border: solid black;

}

