#flex-container{
border-radius:  100vh;
background-color: rgb(233, 161, 94);
}

.flex-container{
  overflow:visible;
  background-color: #e9e9e9;
}

.flex-container ul,li,a{
  list-style-type:none;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  flex-direction:row;
  flex-wrap:wrap;
  border-color: rgb(0, 0, 0);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom: 0px;
  color: #000000;
}

.cremebrulee{
  text-decoration: none;
  justify-content: space-between;
  flex-direction:row;
  border-color: rgb(0, 0, 0);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom: 0px;
  color: #000000;
}

.cafe-logo{
  height: 100px;
  width:100px;
}

h1,a.link{
  justify-content:flex-en ;
  align-items:flex-star ;
}

.flex-container2 div,img.link{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(105, 56, 56);
flex-direction: row-reverse;
display: flex;
  color: #ccc;
  height:px;
  width:100%;
  padding-left:80px;
  padding-top: 0px;
margin: 0px 0px 0px 0px;
border-radius:0px
}



.flex-container2 h1,a.link{
  
  flex-direction:row-reverse;
  justify-content: center;
  

}
.flex-container a:hover a:focus {
  background-color: #e9e9e9;
  color:#e9e9e9
}

.flex-container a:visited{
  color: rgb(0, 0, 0);
}


.flex-container a.active {
  background-color: black;
  color: white;
}


/* Style the search box inside the navigation bar */
.flex-container> input[type=text] {
  display:flex;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  font-size: 17px;
  font-weight: bolder;
}

.aside-main{
  flex-wrap:wrap;
  display: flex;
  border: solid black;
  margin:1em 40em 1em 0em;
  padding: 1em 1em 24.8em 1em;
}

aside{
  border:solid black;
  display:flex;
  margin: 1em 1em 3em 1em;
  padding: 1em 1em 1em 1em;
  width: 70em;
  height:10em;

}

main{
  border: solid black;
  display:flex;
  margin: 1em 13em 1em 1em;
  padding: 1em 66.8em 1em 1em;
}

footer{
  display:flex;
  border:solid
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 0px) {
  .flex-container a, .flex-container input[type=text] {
    display: block;
    width: 50%;
    margin: 0;
    padding: px;
    flex-direction: column;
  }
  .flex input[type=text] {
    border: 1px solid #ccc;
  }
}

@media screen and (min-width: 662.22px) {
  .flex-container a, .flex-container input[type=text] }