body{
  flex-grow: 1;
  height: 100vh;
  background-color: rgb(128, 128, 128);

}

.title-box{
  border: solid;
  display: flex;
  

}

.navbar{
overflow:none;
background-color: #e9e9e9;
border: solid;
flex-grow: 1;
background-color: rgb(233, 161, 94);
}

.navbar{
  overflow:visible;
  background-color: #969393;

}

.navbar ul,li,a{
  list-style-type:none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-color: rgb(0, 0, 0);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom: 0px;
  color: #000000;
}

.box{
  border: solid;
  display: flex;
  flex-direction:column;
}

.box h1,p{
  padding: 0;
  margin: 0;
}

.lower_half{
  border: solid black;
  display: flex;
  height: 77vh;
}

.column1 {
  flex: 30%;
}

.column2{
  flex:70%;
}

footer{
  border: solid black;
  display: flex;
  justify-content: center;
}


footer .p2{
  
  display:flex;
  align-self: center;
  overflow:visible;
  padding: 0;
  
}

.logo{
  
  display:flex;
}

.logo ,p{
  
  display: flex;
  align-items:center;

}