body{
  flex-grow: 1;
  height: 100vh;
  background-color: rgb(128, 128, 128);
  overflow: scroll;

}

.title-box{
  border: solid;
  display: flex;
  

}

.navbar{
overflow:none;
background-color: #e9e9e9;

flex-grow: 1;
background-color: rgb(233, 161, 94);
}

.navbar{
  overflow:visible;
  background-color: #969393;

}

.navbar ul,li,a{
  list-style-type:none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom: 0px;
  color: #000000;
}

.box2{
  
  display: flex;
  flex-direction: column;
  padding:1em;
}

.box{
 
  display: flex;
  flex-direction:column;
}

.box h1,p{
  padding: 0;
  margin: 0;
}


.lower_half{
  border: solid black;
  display: flex;
  height: 77vh;
}

.column1 {
  flex: 30%;
}

.column2{
  flex:70%;
}

footer{
  border: solid black;
  display: flex;
  justify-content: center;
}

footer p{
  display:flex;
  justify-content:space-around;
}

footer ,.p4{
  display:flex;
  
  justify-content: flex-end;
}

.logo img{
  margin: 0em 5em 0em 0em;
}

footer .p2{
  
  display:flex;
  align-self: center;
  overflow:visible;
  padding: 0;
  margin: 0em 20em 0em 0em;
  
}

.logo{
  
  display:flex;
}

.logo ,p{
  
  display: flex;
  align-items:center;

}

@media only screen and (min-width:375px) {
  body{
    flex-grow: 1;
    height: 100vh;
    background-color: rgb(128, 128, 128);
    overflow: scroll;
  
  }

  .container header,nav{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column-reverse;
  }

  .home{
    display:flex;
    margin:0px 0px 0px 0px;
  }
  
  .title-box{
    border: solid;
    display: flex;
    
  
  }
  
  .navbar{
  overflow:none;
  background-color: #e9e9e9;
  
  flex-grow: 1;
  background-color: rgb(233, 161, 94);
  }
  
  .navbar{
    overflow:visible;
    background-color: #969393;
  
  }
  
  .navbar ul,li,a{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-top:0px;
    padding-bottom: 0px;
    color: #000000;
  }
  
  .box2{
    
    display: flex;
    flex-direction: column;
    padding:1em;
  }
  
  .box{
   
    display: flex;
    flex-direction:column;
  }
  
  .box h1,p{
    padding: 0;
    margin: 0;
  }
  
  
  .lower_half{
    border: solid black;
    display: flex;
    flex-direction: column;
    height: 77vh;
  }
  
  

  .lower_half img, .column2{
    display: flex;
    flex-direction:column;
    width: 10em;
    height: 10em;
  }
  
  .lower_half .column2 .logo img{
    border: solid;
    width: 5em;
    height: 4em;
    }

  .column2{
    display: flex;
    
    font-size: 11px;
  }
  
  
  footer{
    border: solid black;
    display: flex;
    justify-content: center;
  }
  
  footer p{
    display:flex;
    justify-content:space-around;
  }
  
  footer ,.p4{
    display:flex;
    
    justify-content: flex-end;
  }
  
  .logo img{
    margin: 0em 1em 0em 0em;
  }
  
  footer .p2{
    
    display:flex;
    align-self: center;
    overflow:visible;
    padding: 0;
    margin: 0em 4em 0em 0em;
    
  }
  
  .logo{
    display:flex;
    
  }
  
  .logo , h1 p ,a{
    
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  
  }
}

@media only screen and (min-width:600px) {
  body{
    flex-grow: 1;
    height: 100vh;
    background-color: rgb(128, 128, 128);
    overflow: scroll;
  
  }
  
  .title-box{
    border: solid;
    display: flex;
    
  
  }
  
  .navbar{
  overflow:none;
  background-color: #e9e9e9;
  
  flex-grow: 1;
  background-color: rgb(233, 161, 94);
  }
  
  .navbar{
    overflow:visible;
    background-color: #969393;
  
  }
  
  .navbar ul,li,a{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-top:0px;
    padding-bottom: 0px;
    color: #000000;
  }
  
  .box2{
    
    display: flex;
    flex-direction: column;
    padding:1em;
  }
  
  .box{
   
    display: flex;
    flex-direction:column;
  }
  
  .box h1,p{
    padding: 0;
    margin: 0;
  }
  
  
  .lower_half{
    border: solid black;
    display: flex;
    flex-direction: column;
    height: 77vh;
    
  }
  
  

  .lower_half img .column2 {
    display: flex;
    flex-direction:column;
    
    width: 15em;
    height: 15em;
  }
  
  .lower_half .column2 .logo img{
    width: 5em;
    height: 4em;
    }

  .column2{
    display: flex;
    flex-direction: column;
    font-size:12px;
  }
  
  
  footer{
    border: solid black;
    display: flex;
    justify-content: center;
  }
  
  footer p{
    display:flex;
    justify-content:space-around;
  }
  
  footer ,.p4{
    display:flex;
    
    justify-content: flex-end;
  }
  
  .logo img{
    margin: 0em 1em 0em 0em;
  }
  
  footer .p2{
    
    display:flex;
    align-self: center;
    overflow:visible;
    padding: 0;
    margin: 0em 4em 0em 0em;
    
  }
  
  .logo{
    
    display:flex;
  }
  
  .logo , h1 p ,a{
    
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  
  }
}



@media only screen and (min-width:900px) {
  body{
    flex-grow: 1;
    height: 100vh;
    background-color: rgb(128, 128, 128);
    overflow: scroll;
  
  }
  
  .title-box{
    
    display: flex;
    
  
  }
  
  .navbar{
  overflow:none;
  background-color: #e9e9e9;
  
  flex-grow: 1;
  background-color: rgb(233, 161, 94);
  }
  
  .navbar{
    overflow:visible;
    background-color: #969393;
  
  }
  
  .navbar ul,li,a{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-top:0px;
    padding-bottom: 0px;
    color: #000000;
  }
  
  .box2{
    
    display: flex;
    flex-direction: column;
    padding:1em;
  }
  
  .box{
   
    display: flex;
    flex-direction:column;
  }
  
  .box h1,p{
    padding: 0;
    margin: 0;
  }
  
  
  .lower_half{
    
    display: flex;
    flex-direction: column;
    height: 77vh;
  }
  
  

  .lower_half img .column2{
    display: flex;
    
    width: 20em;
    height: 20em;
  }
  
  .lower_half .column2 .logo img{
    width: 5em;
    height: 4em;
    }

  .column2{
    display: flex;
    flex-direction: column;
  }
  
  
  footer{
    border: solid black;
    display: flex;
    justify-content: center;
  }
  
  footer p{
    display:flex;
    justify-content:space-around;
  }
  
  footer ,.p4{
    display:flex;
    
    justify-content: flex-end;
  }
  
  .logo img{
    margin: 0em 1em 0em 0em;
  }
  
  footer .p2{
    
    display:flex;
    align-self: center;
    overflow:visible;
    padding: 0;
    margin: 0em 15em 0em 0em;
    
  }
  
  .logo{
    
    margin:100px 300px 0px 0px;
    display:flex;
  }
  
  .logo , h1 p ,a{
   
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
  
  }
}

@media only screen and (min-width:1200px) {
  body{
    font-size: 1.5em;
    flex-grow: 1;
    height: 100vh;
    background-color: rgb(128, 128, 128);
    overflow: scroll;
  
  }
  
  body img{
    width: 9%;
    height: 9%;
  }

  .title-box{
    border: solid;
    display: flex;
    
  
  }
  
  .navbar{
  overflow:none;
  background-color: #e9e9e9;
  
  flex-grow: 1;
  background-color: rgb(233, 161, 94);
  }
  
  .navbar{
    overflow:visible;
    background-color: #969393;
  
  }
  
  .navbar ul,li,a{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-top:0px;
    padding-bottom: 0px;
    color: #000000;
  }
  
  .box2{
    
    display: flex;
    flex-direction: column;
    padding:1em;
  }
  
  .box{
   
    display: flex;
    flex-direction:column;
  }
  
  .box h1,p{
    padding: 0;
    margin: 0;
  }
  
  
  .lower_half{
    
    flex-direction: row;
    display: flex;
    height: 77vh;
  }
  
  .column1 {
    display: flex;
    flex: 30%;
  }
  
  .column2{
    flex:70%;
    font-size: 10px;
  }
  
  footer{
    border: solid black;
    display: flex;
    justify-content: center;
  }
  
  footer p{
    display:flex;
    justify-content:space-around;
  }
  
  footer ,.p4{
    display:flex;
    
    justify-content: flex-end;
  }
  
  .logo img{
    margin: 0em 19em 0em 0em;
    
  }
  
  footer .p2{
    
    display:flex;
    align-self: center;
    overflow:visible;
    padding: 0;
    margin: 0em 20em 0em 0em;
    
  }
  
  .logo{
    
    display:flex;
  }
  
  .logo p{
    
    display: flex;
    align-items:center;
  
  }
}

@media only screen and (min-width:2500px) {
  body{
    flex-grow: 1;
    height: 100vh;
    background-color: rgb(128, 128, 128);
    overflow: scroll;
  
  }
  
  .title-box{
    border: solid;
    display: flex;
    
  
  }
  
  .navbar{
  overflow:none;
  background-color: #e9e9e9;
  
  flex-grow: 1;
  background-color: rgb(233, 161, 94);
  }
  
  .navbar{
    overflow:visible;
    background-color: #969393;
  
  }
  
  .navbar ul,li,a{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-top:0px;
    padding-bottom: 0px;
    color: #000000;
  }
  
  .box2{
    
    display: flex;
    flex-direction: column;
    padding:1em;
  }
  
  .box{
   
    display: flex;
    flex-direction:column;
  }
  
  .box h1,p{
    padding: 0;
    margin: 0;
  }
  
  
  .lower_half{
    font-size: 50em;
    display: flex;
    flex-direction: row;
    height: 77vh;
  }

  .lower_half img{
    width: 90%;
    height: 50%;
    
  }
  
  .column1 {
    display: flex;
    
    flex: 30%;
  }
  
  .column2{
    flex:70%;
    font-size: 30px;
  }
  
  footer{
    border: solid black;
    display: flex;
    justify-content: center;
  }
  
  footer p{
    display:flex;
    justify-content:space-around;
  }
  
  footer ,.p4{
    display:flex;
    
    justify-content: flex-end;
  }
  
  .logo img{
    margin: 0em 2em 0em 0em;
  }
  
  footer .p2{
    
    display:flex;
    align-self: center;
    overflow:visible;
    padding: 0;
    margin: 0em 38em 0em 0em;
    
  }
  
  .logo{
    
    display:flex;
  }
  
  .logo {
    
    margin:px 20px 0px 0px;
    display: flex;
    justify-content: start;
    font-size: 30px;
  
  }
}
