body{
  margin: 0;
  width: 600px;
  border: 3px solid blue;
  padding: 0 2em 1em;
  font-family:Arial, Helvetica, sans-serif
}

h1{
  color: blue;
}

label{
  display: inline;
  width: 5em;
}

h2{
  color:black
}