.container{
  overflow:hidden;
  background-color: #e9e9e9;
}

.container, a{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.container a:hover {
  background-color: #ddd;
  color:black;
}


.container a.acive {
  background-color: #2196F3;
  color: white;
}

.container a:visited {
  color:purple
}

/* Style the search box  */
 input[type=text] {
  float: right;
  display:block;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  font-size: 17px;
}

button {
  border: none;
  color: rgb(228, 29, 29);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #04AA6D;}
.button2 {background-color: #008CBA;}
.button3 {background-color: #f44336;}

.button1 {padding: 10px 24px;}
.button2 {padding: 12px 28px;}
.button3 {padding: 14px 40px;}

  .container a, .container input[type=text] {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px;
    flex-direction: column;
  }
  .flex input[type=text] {
    border: 1px solid #ccc;
  }


  @media (min-width: 100px ) and (max-width:600px) {
    .container ,a .container input[type=text] {

      display: flex;
      flex-direction: column;
  }
}